<header class="header">
    <div class="header__left">
        <nav class="nav">
            <ul class="nav__list">
               <li class="nav__item">
                  <a class="nav__link" href="index.html">Главная</a>
                </li>
                <li class="nav__item">
                  <a class="nav__link  has-subnav" href="#">Связь</a>
                    
                    <ul class="subnav">
                       <li>
                           <a class="subnav__link" data-modal="vopros-modal" href="#">Задать вопрос</a>
                        </li>
                        <li>
                           <a class="subnav__link" href="chastvopr.html">Часто задаваемые вопросы</a>
                        </li>
                        <li>
                           <a class="subnav__link" data-modal="pred-modal"href="#">Пожелания и предложения</a>
                        </li>
                    </ul>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="region.html">Регион</a>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="proff.html">Профессия</a>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="lich.html">Личность</a>
                </li>
            </ul>
        </nav>
        
        <button class="burger" type="button" id="sidebarToggle">
            <span>Открыть навигацию</span>
        </button>
        
    </div>
    <div class="header__right">
    <nav class="nav">
            <ul class="nav__list">
               <li class="nav__item">
                  <a class="nav__link" href="profile.html">Личный кабинет</a>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="#">Выход</a>
                </li>
            </ul>
        </nav>
        <form class="search "action="search.html" method="get">
            <input class="search__input" type="text" placeholder="Поиск по сайту">
        </form>
    </div>
</header>
