.search {
    width: 100%;
    max-width: 21rem;
    background-color: #dcdcdc;
}

.search__input {
    display: block;
    width: 100%;
    padding: 1.2rem 2rem;
    
    background: transparent;
    border: none;
    
    
    font-family: inherit;
    font-size: 1.4rem;
    color: $black;
    
    &::placeholder {
        color: rgba($black, .8);
    }
    
    @include breakpoint($tablet-br) {
        height: 4rem;
        padding-top: .9rem;
        padding-bottom: .9rem;
        
        font-size: 1.6rem;
    }
}