<!DOCTYPE html>
<html lang="ru">
<head>
    {{> head }}
</head>
<body>

<div class="page" id="page">
    <!-- Header -->
    {{> header }}
    <!-- Sidebar -->
    {{> sidebar }}
    
    {{> sidebar-2 }}
    <!-- Main -->
    <main class="main">
        <div class="container">
            {{> body }}
        </div>
    </main>
    <main class="main">
        <div class="container">
        </div>
    </main>
</div>
    
    {{> podd-modal }}
    {{> contact-modal }}
    {{> share-modal }}
    {{> pred-modal }}
    {{> vopros-modal }}
    
    <!-- JS -->
    <script src="assets/js/app.js"></script>
</body>
</html>
